<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @student.first %>
</p>

<p>
  <b>Last:</b>
  <%= @student.last %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
