<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @professor.first %>
</p>

<p>
  <b>Last:</b>
  <%= @professor.last %>
</p>


<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
